.slide-up-opacity-enter-active {
	transition: all .8s ease;
}

.slide-up-opacity-leave-active {
	transition: all .8s ease;
}

.slide-up-opacity-enter, .slide-up-opacity-leave-to {
	transform: translateY(100%);
	opacity: 0;
}
