.slide-up-opacity-enter-active, .slide-up-opacity-leave-active {
	transition: opacity .8s ease, transform .8s ease;
}

.slide-up-opacity-enter-from, .slide-up-opacity-leave-to {
	transform: translateY(100%);
	opacity: 0;
}
