html {
	// fonts
	--font-primary: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	--font-secondary: #{$family-monospace};

	// colors
	--background: #{$background};
	--background-muted-er: #{lighten($background, 3%)};
	--background-muted: #{lighten($background, 1%)};
	--background-accent: #{darken($background, 10%)};
	--background-invert: #{transparentize(whitesmoke, 0.05)};

	--background-light: #{transparentize(whitesmoke, 0.05)};
	--background-light-er: #{$white};

	--error-color: #{transparentize($red, 0.35)};
	--queue-color: #{transparentize($black, 0.35)};

	--text: #{$white-ter};
	--text-strong: #{$white-bis};
	--text-muted: #{$grey-light};
	--text-invert: #{invert($text, 100)};
	--text-dark: #{$grey-darker};
	--text-darker: #{$black-ter};

	--input-color: var(--text-dark);
	--input-placeholder-color: rgba($grey-darker, 0.3);

	--loader-color: #{$grey-lighter};
	--border-color: #{$grey-lighter};

	--progress-background: #{$grey-lightest};
	--progress-color: #{$dark};

	// toasts
	--toast-danger: rgba(255, 175, 180, 0.9);
	--toast-warning: rgba(255, 207, 165, 0.9);
	--toast-question: rgba(255, 249, 178, 0.9);
	--toast-info: rgba(157, 222, 255, 0.9);
	--toast-success: rgba(166, 239, 184, 0.9);

	//
	//--tabs-link-hover-color: #{$white-bis};
	//--dropdown-item-hover-background-color: whitesmoke;

	--white: #{$white};
	--link: #{$cyan};
	--link-hover: #{$blue};

	--album-hint-overlay: rgba(0, 0, 0, 0.5);
	--modal-background-background-color: rgba(100, 100, 100, 0.3);

	@each $name, $color in $status-colors {
		--#{$name}-color: #{$color};
		--#{$name}-color-darker: #{darken($color, 2.5%)};
	}

	@each $name, $color in $marker-type-colors {
		--#{$name}-color: #{$color};
	}

	--faded-color: hsla(0, 0%, 85.9%, .5);

	// shadows
	--box-shadow-color: rgba(0, 0, 0, 0.3);
	--box-shadow-color-light: rgba(10, 10, 10, .1);
	--box-shadow-down: 0 5px;
	--box-shadow-left: -5px 0;

	// borders
	--radius: 4px;
	--radius-large: 6px;
	--radius-rounded: 290486px;

	// misc
	--animation-speed: #{$animation-speed};
	--gap: #{$gap};

	// sizes
	@for $i from 1 through 7 {
		--size-#{$i}: #{nth($sizes, $i)};
	}

	--size-small: 0.875em;

	--weight-light: 300;
	--weight-normal: 400;
	--weight-medium: 500;
	--weight-semibold: 600;
	--weight-bold: 700;

	// padding

	--button-padding: calc(.375em - 1px) .75em;
}
