.label {
	color: var(--text);
	display: block;
	font-size: var(--size-6);
	font-weight: var(--weight-bold);

	&:not(:last-child) {
		margin-bottom: 0.5em;
	}
}

.help {
	display: block;
	font-size: var(--size-7);
	margin-top: 0.25rem;
}


.field {
	.is-grouped {
		display: flex;

		.input {
			flex: 1;
			margin-left: calc(.75em / 2);
			margin-right: calc(.75em / 2);

			&:first-child {
				margin-left: 0;
			}
			&:last-child {
				margin-right: 0;
			}
		}
	}

	&:not(:last-child) {
		margin-bottom: 0.75rem;
	}
}
