.four04-wrapper {
	position: relative;

	&__title {
		text-align: center;
		margin-bottom: 1.5em;
		font-weight: var(--weight-semibold);
		font-size: var(--size-5);
	}

	&__cover {
		position: absolute;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
	}

	&__image {
		margin-top: 10px;
		clip-path: polygon(22.02% 15.16%, 3.26% 51.73%, 30.44% 78.79%, 82.6% 59.14%, 78.81% 26.57%, 46.38% 6.55%);
	}

}
