.addon-row {
	display: flex;

	&__control {
		border-radius: 0 !important;

		&--left {
			border-radius: var(--radius) 0 0 var(--radius) !important;
		}

		&--right {
			border-radius: 0 var(--radius) var(--radius) 0 !important;
		}
	}
}
