.button {
	&.has-icon-top {
		flex: 1;
		flex-direction: column;
	}
	&.is-faded.is-light.is-outlined {
		border-color: rgba(219, 219, 219, 0.5);

		&:focus:not(:hover), &:active:not(:hover) {
			color: whitesmoke;
			background-color: transparent;
		}
	}
}
