.dashboard__sidebar {
	grid-row: sidebar;
	box-shadow: var(--box-shadow-left) 20px 10px var(--box-shadow-color);
	height: calc(2.5 * var(--gap));
	width: 100vw;
	display: flex;
	flex-direction: column-reverse;
	justify-content: stretch;
	overflow-x: hidden;
	overflow-y: hidden;
	margin-top: auto;
	transition: height var(--animation-speed);

	@include from($tablet) {
		grid-column: sidebar;
		height: calc(100vh - var(--gap) / 1.5) !important;
		flex-direction: column;
		width: 20vw;
		max-width: 400px;
	}
}

.profile--open + .dashboard__sidebar {
	height: var(--gap);
}

.copyright {
	filter: drop-shadow(-1px 0 2px rgba(0, 0, 0, 0.8));
	background-color: var(--background-accent);
	padding: 1.5em;
	margin-left: 0.5em;
	font-size: var(--size-7);
	max-height: 100%;
	overflow-x: visible;
	min-width: 300px;
	position: relative;

	&:before {
		content: " ";
		display: block;
		position: absolute;
		width: 7.5px;
		height: 100%;
		top: 0;
		left: -7.5px;

		background: linear-gradient(
						45deg, transparent 33.333%,
						var(--background-accent) 33.333%, var(--background-accent) 66.667%,
						transparent 66.667%
		),
		linear-gradient(
						-45deg, transparent 33.333%,
						var(--background-accent) 33.333%, var(--background-accent) 66.667%,
						transparent 66.667%
		);
		background-size: 40px 20px;
	}

	@include from($tablet) {
		filter: drop-shadow(0 1px 2px var(--box-shadow-color));
		margin-top: auto;
		margin-left: 0;
		min-width: 0;
		overflow-y: visible;
		&:before {
			width: 100%;
			height: 7.5px;

			top: -7.5px;
			left: 0;

			background: linear-gradient(
							45deg, transparent 33.333%,
							var(--background-accent) 33.333%, var(--background-accent) 66.667%,
							transparent 66.667%
			),
			linear-gradient(
							-45deg, transparent 33.333%,
							var(--background-accent) 33.333%, var(--background-accent) 66.667%,
							transparent 66.667%
			);
			background-size: 20px 40px;
		}
	}
}

.marker-list__wrapper {
	display: flex;
	justify-content: stretch;
	flex: 1;
	overflow-y: hidden;
	overflow-x: visible;

	@include from($tablet) {
		flex-direction: column;
		overflow-y: visible;
		overflow-x: hidden;
	}
}

.marker-list {
	display: flex;
	align-items: stretch;
	height: 100%;
	position: relative;
	overflow-x: visible;

	&__entry {
		width: 60vw;
		padding: 3vw;
		height: 100%;
		max-width: 200px;
	}

	@include from($tablet) {
		flex-direction: column;
		overflow-y: visible;
		height: auto;
		margin-right: 0;
		margin-bottom: 0.5em;

		&__entry {
			max-width: 100%;
			padding: 0.75vh 1vw;
		}
	}

	&__loader {
		position: relative;
		height: 100%;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		@include from($tablet) {
			align-items: start;
			margin: 20px;
			width: auto;
		}

	}

	&__button {
		position: relative;
		height: 100%;
		@include from($tablet) {
			width: 100%;
			height: 50px;
		}

		&--prev {
			border-left: transparent;
			@include from($tablet) {
				height: 45px;
			}
		}

		&--next {
			border-right: transparent;
			@include from($tablet) {
				top: 10px;
			}
		}
	}
}

.marker-entry__card {
	cursor: pointer;
	box-shadow: 0 2px 3px var(--box-shadow-color-light), 0 0 0 1px var(--box-shadow-color-light);
	border-radius: var(--radius-large);
	height: 100%;
	position: relative;
	overflow: hidden;
	@include from($tablet) {
		display: flex;
		height: 13vh;
	}

	&.error, &.queued, &.uploading {
		&:after {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
		}
	}

	&.error {
		&:after {
			content: 'ERROR';
			background-color: var(--error-color);
		}
	}

	&.queued {
		&:after {
			content: 'QUEUE';
			background-color: var(--queue-color);
		}
	}

	&-progress {
		filter: blur(-4px);
		position: absolute;
		top: 50%;
		left: 50%;
		width: 80%;
		z-index: 10;
		transform: translate(-50%, -50%);
	}

	&-image {
		max-width: 200px;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center center;
		@include from($tablet) {
			max-width: 50%;
		}
	}

	&-tags {
		max-width: 200px;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 2;
		padding: 0.7em;
		background: linear-gradient(to bottom, transparent, black);
		font-size: var(--size-7);
		line-height: 1;
		@include from($tablet) {
			max-width: 50%;
		}
	}

	&-icon {
		position: absolute;
		right: 4px;
		bottom: 1%;
		width: 1rem !important;
		height: 1rem !important;
		z-index: 3;
		text-align: center;
		font-size: 1em;
		opacity: 0.75;
		@include from($tablet) {
			right: calc(50% + 4px);
		}
	}

	&-text {
		font-size: var(--size-6);
		display: none;
		@include from($tablet) {
			display: block;
			width: 50%;
		}
	}

	&-profile {
		padding-top: 0.25em;
		display: flex;
		align-items: center;
		height: 24px;
		background: linear-gradient(to top, transparent, var(--background-accent));

		&-img {
			border-radius: var(--radius-rounded);
			max-height: 100%;
			max-width: 100%;
			margin: 5%;
			width: auto !important;
		}
	}

	&-content {
		padding: 0.25em;
	}

	&:hover {
		border: 1px solid;
	}

	@each $status, $color in $marker-type-colors {
		&--#{$status}:hover {
			border-color: var(--#{$status}-color);
		}
	}
}


.uploads-list {
	height: 100%;
	display: flex;
	filter: drop-shadow(1px 0 2px var(--box-shadow-color));
	background-color: var(--background-accent);
	padding-right: 0.5em;
	margin-right: 0.5em;

	&:after {
		content: " ";
		display: block;
		position: absolute;
		width: 7.5px;
		height: 100%;
		top: 0;
		right: -7.5px;

		background-position: right !important;
		background: linear-gradient(
						225deg, transparent 33.333%,
						var(--background-accent) 33.333%, var(--background-accent) 66.667%,
						transparent 66.667%
		),
		linear-gradient(
						135deg, transparent 33.333%,
						var(--background-accent) 33.333%, var(--background-accent) 66.667%,
						transparent 66.667%
		);
		background-size: 40px 20px;
	}

	@include from($tablet) {
		background-color: transparent;
		height: auto;
		flex-direction: column;
		margin-right: 0;
		padding-right: 0;
		&:after {
			content: "";
		}
	}

	.uploads-list__button {
		width: 100px;
		height: 100%;

		@include from($tablet) {
			height: auto;
			width: 100%;
		}
	}
}
