.dashboard {
	background-color: transparent;
	position: relative;
	pointer-events: none;
	height: 100%;
	width: 100vw;
	overflow: hidden;
	display: grid;
	z-index: 10;
	grid-template-rows: [header] calc(var(--gap) / 1.5) [body] 1fr;
	grid-template-columns: 100%;
	transition: grid-template-rows var(--animation-speed);

	&--with-profile {
		grid-template-rows: [header] calc(2 * var(--gap) / 1.5) [body] 1fr;
	}

	@include from($tablet) {
		&--with-profile {
			grid-template-rows: [header] calc(var(--gap) / 1.5) [body] 1fr;
		}
	}

	&__control {
		background-color: var(--background);
		pointer-events: visible;
		position: relative;

		&--accent {
			background-color: var(--background-accent);
		}

		&-filters {
			position: absolute;
			cursor: pointer;
			right: 0;
			bottom: 0;
			z-index: 100;
			height: $gap;
			width: $gap;
			color: $text;
			padding-right: 0;
			padding-left: 0.4 * $gap;
			padding-top: 0.4 * $gap;
			clip-path: polygon(100% 0, 0 100%, 100% 100%);

			&:before {
				content: '';
				width: $gap;
				height: $gap;
				clip-path: polygon(96% 0, 0 96%, 0 0);
				background: rgba(219, 219, 219, 0.5);
				position: absolute;
				top: 1px;
				left: 1px;
			}
		}
	}

	&__header {
		grid-row: header;
		z-index: 40;
		box-shadow: var(--box-shadow-down) 20px 10px var(--box-shadow-color);
	}

	&__body {
		grid-row: body;
		display: grid;

		grid-template-rows: [profile] 1fr [sidebar] max-content;
		grid-template-columns: 1fr;
		overflow-x: auto;
		overflow-y: hidden;

		@media #{$above-tablet} {
			overflow-y: auto;
			overflow-x: hidden;
			grid-template-rows: 1fr;
			grid-template-columns: [profile] 1fr [sidebar] max-content;
		}
	}
}
