.dashboard {
	background-color: transparent;
	position: relative;
	pointer-events: none;
	height: 100%;
	width: 100vw;
	overflow: hidden;
	display: grid;
	z-index: 10;
	grid-template-rows: [header] $gap/1.5 [body] calc(100% - #{$gap / 1.5});
	grid-template-columns: 100%;
	transition: grid-template-rows 0.3s;

	&--with-profile {
		grid-template-rows: [header] 2*$gap/1.5 [body] calc(100% - #{$gap * 2 / 1.5});
	}

	@media #{$above-tablet} {
		&--with-profile {
			grid-template-rows: [header] $gap/1.5 [body] calc(100% - #{$gap / 1.5});
		}
	}

	.title, .subtitle, strong {
		color: $text;
	}

	&__control {
		background-color: $background;
		pointer-events: visible;
		position: relative;

		&--dark {
			background-color: darken($background, 10%);
		}

		&-filters {
			position: absolute;
			cursor: pointer;
			right: 0;
			bottom: 0;
			z-index: 100;
			height: $gap;
			width: $gap;
			color: $text;
			padding-right: 0;
			padding-left: 0.4 * $gap;
			padding-top: 0.4 * $gap;
			clip-path: polygon(100% 0, 0 100%, 100% 100%);

			&:before {
				content: '';
				width: $gap;
				height: $gap;
				clip-path: polygon(96% 0, 0 96%, 0 0);
				background: rgba(219, 219, 219, 0.5);
				position: absolute;
				top: 1px;
				left: 1px;
			}
		}
	}

	&__header {
		grid-row: header;
		box-shadow: 0 5px 20px 10px rgba(0, 0, 0, 0.3);
	}

	&__body {
		grid-row: body;
		display: grid;

		grid-template-rows: [profile] auto [sidebar] max-content;
		grid-template-columns: auto;
		overflow-x: auto;
		overflow-y: hidden;

		@media #{$above-tablet} {
			overflow-y: auto;
			overflow-x: hidden;
			grid-template-rows: max-content;
			grid-template-columns: [profile] auto [sidebar] max-content;
		}
	}
}
