.drawer-mobile {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	max-height: calc(var(--gap) / 1.5);
	width: 100%;
	z-index: 39;
	transform: translateX(100%);
	background-color: var(--background-invert);
	transition: transform 0.3s;
	display: flex;

	&--open {
		transform: translateX(0%);

		&-button {
			height: 100%;
		}
	}

	@include from($tablet){
		transform: none;
		position: static;
		width: auto;
		background-color: transparent;
	}
}
