.drawer-mobile {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	max-height: $gap/1.5;
	width: 100%;
	z-index: 39;
	transform: translateX(100%);
	background-color: transparentize(whitesmoke, 0.05);
	transition: transform 0.3s;
	display: flex;

	&--open {
		transform: translateX(0%);

		&-button {
			height: 100%;
		}
	}

	@media (min-width: $tablet) {
		transform: none;
		position: static;
		width: auto;
		background-color: transparent;
	}
}
