html {
	overflow-y: auto;
	height: 100%;
}

body, #app {
	height: 100%;
}

.layout {
	position: relative;
	height: 100%;
	width: 100vw;
}

.v--modal-overlay {
	pointer-events: visible;
}

.v--modal-box {
	max-height: 100%;
	overflow: auto !important;
}

.v--modal {
	background: transparent !important;
}

iframe.instagram-media.instagram-media-rendered {
	width: 100% !important;
}
