.map {
	> .map__marker {
		display: none;
	}

	&__cluster-wrapper {
		position: relative;

		&-counter {
			position: absolute;
			left: -50%;
			bottom: -20%;
			background-color: $primary;
			border-radius: 50%;
			font-size: 1.1rem;
			width: 1.5rem;
			height: 1.5rem;
			text-align: center;
		}
	}
}

.map__icon-wrapper {
	height: 35px;
	@media #{$above-phone} {
		height: 40px;
	}
	background-color: $background;
	pointer-events: visible;

	.map__icon {
		height: 100%;
		border-style: solid;
		border-width: 2px;

		&-Visited {
			@extend .map__icon;
			border-color: $turquoise;
		}

		&-Plan {
			@extend .map__icon;
			border-color: $cyan;
		}

		&-Suggestion {
			@extend .map__icon;
			border-color: $red;
		}

		&-Other {
			@extend .map__icon;
			border-color: $white-ter;
		}
	}
}

.zoom-far {
	.map__icon-wrapper {
		height: 20px;
	}

	.map__cluster-wrapper-counter {
		font-size: 0.8rem;
		width: 1.2rem;
		height: 1.2rem;
	}
}

.zoom-medium {
	.map__icon-wrapper {
		height: 25px;
		@media #{$above-phone} {
			height: 30px;
		}
	}

	.map__cluster-wrapper-counter {
		font-size: 0.9rem;
		width: 1.3rem;
		height: 1.3rem;
	}
}

.zoom-close {
	.map__icon-wrapper {
		height: 45px;
		@media #{$above-phone} {
			height: 50px;
		}
	}
}