.map {
	position: absolute;
	height: 100%;
	width: 100vw;
	top: 0;
	left: 0;
	z-index: 1;

	> .map__marker {
		display: none;
	}


	&__cluster-wrapper {
		position: relative;

		&-counter {
			position: absolute;
			left: -20%;
			bottom: -20%;
			background-color: $primary;
			border-radius: 50%;
			font-size: 1.1rem;
			width: 1.5rem;
			height: 1.5rem;
			text-align: center;
		}
	}

	&__user-marker-control {
		&-wrapper {
			margin-bottom: $gap * 0.8 !important;

			@media #{$above-tablet}{
				margin-bottom: 10px !important;
			}

		}

		&--active {
			background-color: $link !important;
		}
	}

	&__user-marker {
		box-shadow: inset 0 0 5px #06f, inset 0 0 5px #06f, inset 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f;
		background-color: darken(#06f, 0.1);
		border-radius: 50%;
		border: 1px solid #fff;
		width: 100%;
		height: 100%;

		&.map__user-marker--old {
			background-color: darken($grey, 0.1);
			box-shadow: inset 0 0 5px $grey, inset 0 0 5px $grey, inset 0 0 5px $grey, 0 0 5px $grey, 0 0 5px $grey, 0 0 5px $grey;
		}

		&-accuracy {
			background-color: darken(#06f, 0.1);
			border-radius: 50%;
			width: 100%;
			height: 100%;
			opacity: 0.4;
			border: 1px solid darken(#06f, 0.1);
		}
	}

	&__icon-wrapper {
		height: 35px;
		@media #{$above-phone} {
			height: 40px;
		}
		background-color: $background;
		pointer-events: visible;
	}

	&__icon {
		height: 100%;
		border-style: solid;
		border-width: 2px;

		&:after {
			content: attr(alt);
			position: absolute;
			height: 110%;
			width: 110%;
			top: 0;
			left: 0;
			background-color: rgba(54, 54, 54, 0.9);
			border-style: solid;
			border-width: 2px;
			padding: calc(10% - 2px);
		}

		&-Visited {
			border-color: $turquoise;

			&:after {
				border-color: $turquoise;
			}
		}

		&-Plan {
			border-color: $cyan;

			&:after {
				border-color: $cyan;
			}
		}

		&-Suggestion {
			border-color: $red;

			&:after {
				border-color: $red;
			}
		}

		&-Other {
			border-color: $white-ter;

			&:after {
				border-color: $white-ter;
			}
		}
	}


}


.map--zoom-far {
	.map__icon-wrapper {
		height: 20px;
	}

	.map__cluster-wrapper-counter {
		font-size: 0.8rem;
		width: 1.2rem;
		height: 1.2rem;
	}
}

.map--zoom-medium {
	.map__icon-wrapper {
		height: 25px;
		@media #{$above-phone} {
			height: 30px;
		}
	}

	.map__cluster-wrapper-counter {
		font-size: 0.9rem;
		width: 1.3rem;
		height: 1.3rem;
	}
}

.map--zoom-close {
	.map__icon-wrapper {
		height: 45px;
		@media #{$above-phone} {
			height: 50px;
		}
	}
}
