.map__marker--queued, .map__marker--error {
	position: relative;
	overflow: hidden;

	&:after {
		width: 100%;
		height: 100%;
		text-align: center;
		position: absolute;
		left: 0;
		top: 0;
		font-size: $size-7;
	}
}

.map__marker--uploading {
	position: relative;
	overflow: hidden;
	filter: grayscale(100);

	&:after {
		background-color: transparentize($black, 0.4);
		animation: spinAround 500ms infinite linear;
		border: 0.25em solid $grey-lighter;
		border-radius: $radius-rounded;
		border-right-color: transparent;
		border-top-color: transparent;
		content: "";
		display: block;
		top: calc(50% - 0.7em);
		left: calc(50% - 0.7em);
		width: 1.4em;
		height: 1.4em;
		position: absolute;
	}
}

.map__marker--queued:after {
	content: 'QUEUE';
	background-color: transparentize($black, 0.4);
}

.map__marker--error:after {
	content: 'ERROR';
	background-color: transparentize($red, 0.4);
}

