.marker-border-filter {
	display: flex;
	flex-direction: column;
	height: calc(0.35 * var(--gap));
	overflow: hidden;

	@include from($tablet) {
		height: auto;
	}


	&--open {
		flex-shrink: 1;
		height: auto;
	}

	&__button {
		height: 100%;
	}

	&__open {
		height: calc(0.35 * var(--gap));
	}
}
