.marker-entry {
	width: 100%;
	cursor: pointer;
	padding: 0.5rem;

	&:hover {
		background-color: $grey-light;
	}

	&.error, &.queued {
		.image {
			overflow: hidden;

			&:after {
				width: 100%;
				height: 100%;
				text-align: center;
				position: absolute;
				left: 0;
				top: 0;
				font-size: $size-7;
			}
		}
	}

	&.error {
		.image:after {
			content: 'ERROR';
			background-color: transparentize($red, 0.4);
		}
	}

	&.queued {
		.image:after {
			content: 'QUEUE';
			background-color: transparentize($black, 0.4);
		}
	}

	&.uploading {
		filter: grayscale(100);

		.image:after {
			animation: spinAround 500ms infinite linear;
			border: 0.25em solid $grey-lighter;
			border-radius: $radius-rounded;
			border-right-color: transparent;
			border-top-color: transparent;
			content: "";
			display: block;
			top: calc(50% - 1em);
			left: calc(50% - 1em);
			width: 2em;
			height: 2em;
			position: absolute;
		}
	}


	&--Plan {
		&:hover {
			background-color: $cyan;
		}
	}

	&--Visited {
		&:hover {
			background-color: $turquoise;
		}
	}

	&--Suggestion {
		&:hover {
			background-color: $red;
		}
	}

	&__image {
		max-width: 64px;
		max-height: 100px;
		overflow: hidden;
		position: relative;

		&-album {
			position: absolute;
			left: 3%;
			bottom: 1%;
			width: 1rem !important;
			height: 1rem !important;
			text-align: center;
			font-size: 1em;
			opacity: 0.75;
		}
	}

}

