.profile-open {
	width: 100%;
	background-color: transparentize(whitesmoke, 0.05);

	&__button {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 100%;
		width: 100%;
		border-radius: 0;
		color: invert($text, 100) !important;
		padding: calc(0.375em - 1px) 5vw;

		&-text {
			flex: 1;
			text-align: left;
			padding-bottom: 0.1em;
		}

		&-img {
			display: flex;

			&-src {
				max-height: 100%;
				max-width: 100%;
				width: auto !important;
			}
		}
	}

	@media (min-width: $tablet) {
		width: auto;
		background-color: transparent;

		&__button {
			border-radius: 4px;
			color: $text !important;
			padding: calc(0.375em - 1px) 0.75em;

			&-text {
				padding-bottom: 0;
			}
		}

	}
}
