.stories {
	display: flex;
	flex-direction: row;
	overflow-x: auto;

	@include from($desktop) {
		overflow: hidden;
		flex-wrap: wrap;
		width: 230px;
	}
}

.story {
	border-radius: 50%;
	background-color: var(--background-muted);
	margin-right: 10px;
	margin-bottom: 10px;
	min-width: 65px;
	max-width: 65px;
	height: 65px;
	color: var(--text);
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	word-break: break-all;
	overflow: hidden;

	&:hover {
		background-color: var(--background-invert);
		color: var(--text-invert)
	}
}
