.map__user-marker, .map__user-accuracy-marker {
	background-color: darken(#06f, 0.1);
	border-radius: 50%;
	border: 1px solid #fff;
	width: 100%;
	height: 100%;
}

.map__user-marker {
	box-shadow: inset 0 0 5px #06f, inset 0 0 5px #06f, inset 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f;
	transform: translate(5%, 5%);
}

.map__user-accuracy-marker {
	opacity: 0.4;
	border-color: darken(#06f, 0.1);
}