@import "~bulma/sass/utilities/initial-variables";

$above-phone: "only screen and (min-width : 576px)";
$above-tablet: "only screen and (min-width : #{$tablet})";
$above-desktop: "only screen and (min-width : #{$desktop})";
$above-wide-screen: "only screen and (min-width : #{$widescreen})";
$gap: 64px;

$background: transparentize($grey-darker, 0.1);
$text: $white-ter;
$animation-speed: 0.3s;
$label-color: $white-ter;

$card-background-color: $background;
$card-header-color: $white-bis;

$tabs-link-hover-color: $white-bis;
$dropdown-item-hover-background-color: whitesmoke;

$link: $cyan;
$link-hover: $blue;

$modal-content-spacing-mobile: 0px;
$modal-background-background-color: rgba(0, 0, 0, 0.2);
