@import "~bulma/sass/utilities/_all";

$above-phone: "only screen and (min-width : 576px)";
$above-tablet: "only screen and (min-width : #{$tablet})";
$above-desktop: "only screen and (min-width : #{$desktop})";
$above-wide-screen: "only screen and (min-width : #{$widescreen})";
$gap: 64px;

$background: transparentize($grey-darker, 0.1);
$text: $white-ter;
$animation-speed: 0.3s;
$label-color: $white-ter;

$card-background-color: $background;
$card-header-color: $white-bis;
$card-shadow: 0 0.5em 1em -0.125em rgba($scheme-invert, 0.1), 0 0px 0 1px rgba($scheme-invert, 0.02);

$tabs-link-hover-color: $white-bis;
$dropdown-item-hover-background-color: whitesmoke;

$link: $cyan;
$link-hover: $blue;

$modal-content-spacing-mobile: 0px;
$modal-background-background-color: rgba(0, 0, 0, 0.2);

$marker-type-colors: ('Other': $grey-light, 'Plan': $cyan, 'Visited': $turquoise, 'Suggestion': $red);
$status-colors: ('light': $white-ter, 'primary': $primary, 'danger': $danger, 'selected': $link);
$button-backgrounds: ('primary': $primary, 'light': $light, 'white': $white, 'danger': $danger, 'selected': $link);
$button-backgrounds-light: ('light': $light);
$screen-sizes: mobile tablet;
