.webpush {
	font-size: var(--size-7);
	background-color: var(--background-accent);

	@include from($tablet) {
		background-color: transparent;
	}

	&.is-wide {
		padding-left: 1.5em;
		padding-right: 1.5em;
	}

}
